//Variables//
$colorGris:#23272b;
$colorNaranja:#FF8201;
$colorNegro:#1b1b1b;
$colorGrisclaro:#333;
$tituloGrande: 40px 'Ubuntu', sans-serif;


/*General*/

* {
    margin: 0;
    padding: 0;
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
 }