//PAGINA CONTACTO/

.datosContacto{
    padding: 0;
    background-color:$colorNaranja;}
    
.estiloFormulario{
    padding: 5px;
    background-color: $colorGrisclaro; }
      
.imagenContacto{
     width:70%;
    padding: 20px; }

.redesContacto{
    
        width: 50px;
        padding: 10px;
        text-align: center;
    
}
    