.header-Home{
  
    /*Menu index*/
    .header-Home__Menu{
        align-items: center;
        padding: 20px;
        
        
        .header-Home-menu__logo{
            display: grid;
            width: 90px;
            
        }

    }  

    .header-Home__tituloEncima{
        font: $tituloGrande;
        animation-duration: 3s;
        animation-name: aparecer; 
       
    }
    
    .header-Home__parrafoEncima{
        width: 400px;
        line-height: 1.6;
        animation-duration: 3s;
        animation-name: aparecer; 
    }
}    


    /*Menu otras paginas*/
.header-otros{
   
    padding: 2px;
   
    
    .header-otros__Menu{
        align-items: center;
        padding: 5px;
      
    
        .header-otros-Menu__logo{
            max-width: 50%;
            height: auto;
            align-content: center;    
        }
    }
}
    
    
