//PAGINA INDEX//

/*Seccion Bienvenida*/

.estilo-Bienvenida{
    
   padding: 5px;
}



.estilo-Bienvenida__parrafoBie{
    padding:30px;
    text-align: justify;
    font-size: 16px;
    color:rgb(255, 255, 255);

}




.estilo-Bienvenida__imagen{
    padding: 10px;
    
}

.estilo-Bienvenida__imagen:hover{
    transform: scale(1.1);

}

//sección Discografía//

.estilo-Discografia{
    
    background-color: $colorNaranja;
    margin: 0;
    padding: 0;
}


.estilo-Discografia__col{
    padding: 2em;
    align-items: center;
    
    
}

/*Sección acerca*/ 

.estilo-Acerca{
   
    padding: 15px 15px;
    
}

.estilo-Acerca__imagenAc{
width: 90%;
}

.estilo-Acerca__tituloAc{  
    text-align: center;
    font: $tituloGrande;
    color:$colorNaranja;

}
.estilo-Acerca__parrafoAc{
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    color:rgb(255, 255, 255);
    text-align: justify;
    line-height: 1.6;
}


/*Sección Recursos*/

.estilo-Recursos{
    background-color: $colorNaranja;
    padding: 20px;
    text-align: center;
    
   
}



.estilo-Recursos__efectoRe{
    width: 90%; 

}

.estilo-Recursos__efectoRe:hover{
    transform: scale(1.1);
}

